<!DOCTYPE html>
<html>
   <head>
      <% stylesheet_link_tag "drink_index" %>
      <h1 class=“head”>Drinks</h1>
   </head>
   <body>
      <% @drinks.each do | drink |%>
         <li class=“link”> <%= link_to drink.name, drink_path(drink)%> </li>
      <% end %>
   </body>
</html>